@import 'shared';

.hs-minion {
    @include hs-entity-dynamic-background;
    width: 286px;
    height: 386px;

    > :not(.hs-template-image) {
        position: absolute;
    }

    .hs-entity-image {
        border-radius: 50%;
        top: -10px;
        left: 48px;
        transform: scale(0.85);
        object-fit: cover;
        width: 192px;
        height: 256px;
        z-index: -1;
    }

    .hs-cost-value {
        @include hs-entity-value-text($hs-card-value-font-size);
        top: calc(30px - (#{$hs-card-value-font-size} * 0.35));
        left: 1px;
        width: 76px;
    }

    .hs-attack-value {
        @include hs-entity-value-text($hs-card-value-font-size);
        top: calc(342px - (#{$hs-card-value-font-size} * 0.35));
        left: 4px;
        width: 76px;
    }

    .hs-health-value {
        @include hs-entity-value-text($hs-card-value-font-size);
        top: calc(344px - (#{$hs-card-value-font-size} * 0.35));
        left: 212px;
        width: 76px;
    }

    .hs-name-value {
        @include hs-entity-value-text($hs-card-name-font-size);
        top: calc(197px - (#{$hs-card-name-font-size} * 0.35));
        left: 30px;
        width: 226px;
        transform: rotate(-6deg);
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .hs-rarity-crystal {
        @include hs-entity-dynamic-background;
        top: 216px;
        left: 112px;
        width: 73px;
        height: 35px;
    }

    .hs-text-wrapper {
        top: calc(252px - (#{$hs-card-text-font-size} * 0.35));
        left: 50px;
        width: 186px;
        height: 110px;

        .hs-text-value {
            @include hs-entity-ability-text($hs-card-text-font-size);
            position: initial;
            display: table-cell;
            vertical-align: middle;
            width: 186px;
            height: 110px;
        }
    }

    .hs-race-wrapper {
        @include hs-entity-dynamic-background;
        top: 335px;
        left: 77px;
        width: 139px;
        height: 35px;

        .hs-race-value {
            @include hs-entity-value-text($hs-card-race-font-size);
            width: 139px;
            height: 35px;
            position: initial;
            display: table-cell;
            vertical-align: middle;
            padding-top: 3px;
        }
    }

    .hs-dragon-decoration {
        @include hs-entity-dynamic-background;
        top: -21px;
        left: 3px;
        width: 280px;
        height: 153px;
    }
}
