<div class="hs-minion">
    <img [src]="templateUrl" alt="Template Image" class="hs-template-image" />

    <img [src]="minion.images.base64img256x" alt="Image" class="hs-entity-image" />

    <div class="hs-cost-value">{{ minion.entity.cost }}</div>
    <div class="hs-attack-value">{{ minion.entity.attack }}</div>
    <div class="hs-health-value">{{ minion.entity.health }}</div>

    <div class="hs-name-value">{{ minion.entity.name }}</div>

    <div *ngIf="rarityCrystalStyleUrl" class="hs-rarity-crystal" [style.background-image]="rarityCrystalStyleUrl"></div>

    <div class="hs-text-wrapper">
        <div class="hs-text-value" [innerHTML]="minion.entity.text | safeHtml"></div>
    </div>

    <div *ngIf="!!minion.entity.race" class="hs-race-wrapper" [style.background-image]="raceDecorationStyleUrl">
        <div class="hs-race-value">{{ minion.entity.race | titlecase }}</div>
    </div>

    <div *ngIf="minion.entity.elite" class="hs-dragon-decoration" [style.background-image]="dragonDecorationStyleUrl"></div>
</div>
