<div class="hs-hero">
    <img [src]="templateUrl" alt="Template Image" class="hs-template-image" />

    <img [src]="hero.images.base64img256x" alt="Image" class="hs-entity-image" />

    <div class="hs-health-value">{{ hero.entity.health }}</div>
    <div class="hs-armor-value">{{ hero.entity.armor }}</div>

    <div class="hs-name-value">{{ hero.entity.name }}</div>
</div>
