@import 'shared';

$hs-hero-value-font-size: 42px;
$hs-hero-name-font-size: 18px;

.hs-hero {
    @include hs-entity-dynamic-background;
    /* width: 286px;
    height: 386px; */

    /* .hs-attack-value {
        @include hs-entity-value-text($hs-hero-value-font-size);
        position: absolute;
        top: calc(342px - (#{$hs-hero-value-font-size} * 0.35));
        left: 4px;
        width: 76px;
    } */

    > :not(.hs-template-image) {
        position: absolute;
    }

    .hs-health-value {
        @include hs-entity-value-text($hs-hero-value-font-size);
        top: calc(344px - (#{$hs-hero-value-font-size} * 0.35));
        left: 212px;
        width: 76px;
    }

    .hs-armor-value {
        @include hs-entity-value-text($hs-hero-value-font-size);
        top: calc(344px - (#{$hs-hero-value-font-size} * 0.35));
        left: 212px;
        width: 76px;
    }

    .hs-name-value {
        @include hs-entity-value-text($hs-hero-name-font-size);
        top: calc(197px - (#{$hs-hero-name-font-size} * 0.35));
        left: 30px;
        width: 226px;
        transform: rotate(-6deg);
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
