<h1 mat-dialog-title class="mt-0">Example Dialog</h1>

<div mat-dialog-content class="mat-typography">
    <p class="mt-0">Dialog data: {{ data.text }}</p>
</div>

<div mat-dialog-actions class="float-right">
    <button mat-flat-button color="primary" mat-dialog-close="action">Action</button>
    <button mat-button color="primary" mat-dialog-close>Close</button>
</div>
