// Utilities

@import '~bootstrap/scss/utilities';

$utilities: map-get-multiple(
    $utilities,
    (
        'float',
        'display',
        'shadow',
        'position',
        'top',
        'right',
        'left',
        'bottom',
        'translate-middle',
        'width',
        'min-viewport-height',
        'flex',
        'flex-direction',
        'flex-grow',
        'flex-shrink',
        'flex-wrap',
        'justify-content',
        'align-items',
        'align-content',
        'align-self',
        'margin',
        'margin-x',
        'margin-y',
        'margin-left',
        'margin-right',
        'margin-top',
        'margin-bottom',
        'padding',
        'padding-x',
        'padding-y',
        'padding-left',
        'padding-right',
        'padding-top',
        'padding-bottom',
        'white-space',
        'text-transform',
        'text-decoration',
        'word-wrap',
        'visibility',
        'background-color'
    )
);

$custom-utilities: (
    'overflow-x': (
        // new
        property: overflow-x,
        values: auto hidden visible scroll,
    ),
    'overflow-y': (
        // new
        property: overflow-y,
        values: auto hidden visible scroll,
    ),
    'cursor': (
        // new
        property: cursor,
        values: default pointer not-allowed,
    ),
    'font-size': (
        // override: using custom variables
        property: font-size,
        values: $hs-font-sizes,
    ),
    'font-weight': (
        // override: using custom variables
        property: font-weight,
        values: $hs-font-weights,
    ),
    'text-align': (
        // override: add justify
        responsive: true,
        property: text-align,
        class: text,
        values: center start end justify,
    ),
);

$utilities: map-merge($utilities, $custom-utilities);
