@import 'shared';

$hs-card-value-font-size: 28px;
$hs-card-name-font-size: 18px;

.hs-card {
    @include hs-entity-dynamic-background;
    width: 286px;
    height: 43px;

    > :not(.hs-template-image) {
        position: absolute;
    }

    .hs-entity-image {
        top: 0px;
        right: 8px;
        transform: scale(0.82);
        object-fit: cover;
        width: 216px;
        height: 42px;
        z-index: 0;
        mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);
    }

    .hs-cost-value {
        @include hs-entity-value-text($hs-card-value-font-size);
        top: calc(14px - (#{$hs-card-value-font-size} * 0.35));
        left: -15px;
        width: 76px;
    }

    .hs-name-value {
        @include hs-entity-value-text($hs-card-name-font-size);
        top: calc(16px - (#{$hs-card-name-font-size} * 0.35));
        left: 52px;
        width: 200px;
        text-align: left;
        text-overflow: ellipsis;
    }

    .hs-count-value {
        @include hs-entity-value-text($hs-card-value-font-size);
        top: calc(14px - (#{$hs-card-value-font-size} * 0.35));
        left: 230px;
        width: 76px;
    }

    .hs-rarity-icon {
        @include hs-entity-value-text($hs-card-value-font-size);
        top: calc(14px - (#{$hs-card-value-font-size} * 0.35));
        right: 7px;
        width: 24px;

        .hs-rarity-star {
            filter: drop-shadow(0 0 1px black);
        }
    }
}
