<div class="hs-card">
    <img [src]="templateUrl" alt="Template Image" class="hs-template-image" />

    <img [src]="card.images.base64tile" alt="Image" class="hs-entity-image" />

    <div class="hs-cost-value">{{ card.entity.cost }}</div>

    <div class="hs-name-value">{{ card.entity.name }}</div>

    <div *ngIf="card.entity.rarity !== CardRarity.LEGENDARY; else legendaryStarTemplate" class="hs-count-value">{{ count }}</div>

    <ng-template #legendaryStarTemplate>
        <div class="hs-rarity-icon">
            <svg class="hs-rarity-star" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51 48">
                <title>Unique</title>
                <path fill="gold" stroke="none" d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z" />
            </svg>
        </div>
    </ng-template>
</div>
