.mat-autocomplete-panel {
    border-bottom-right-radius: $border-radius !important;
    border-bottom-left-radius: $border-radius !important;
}

.mat-autocomplete-panel .mat-option {
    height: 40px;
    font-size: 16px;
}
