.mat-button-toggle-group {
    border-radius: $border-radius !important;
}

.mat-button-toggle-group {
    border-width: 0; // disable standard appearance
    box-shadow: none; // disable legacy appearance
}

.mat-button-toggle {
    background-color: transparent;
    border-radius: 4px; // as regular button
    border-width: 0 !important; // disable lines between toggles

    .mat-button-toggle-button {
        @include hs-control-text;
        font-size: 14px; // align with button

        &:disabled,
        &[disabled] {
            @include hs-control-disabled;
        }
    }

    &.cdk-keyboard-focused .mat-button-toggle-focus-overlay,
    &.mat-button-toggle-checked .mat-button-toggle-focus-overlay {
        color: transparent !important; // align checked with focus
        background-color: rgba(0, 0, 0, 0.12) !important; // align checked with focus
        opacity: 1 !important; // align checked with focus
    }
}
