@use '~@angular/material' as mat;

.mat-list-base .mat-list-item {
    border-radius: $border-radius !important;

    .mat-list-item-ripple {
        border-radius: $border-radius !important;
    }
}

.mat-list-base .mat-list-item.mat-list-item-disabled {
    opacity: 30%;
    background-color: transparent !important;
}

button.mat-list-item:not(:hover),
button.mat-list-item:not(:focus) {
    background-color: transparent; // workaround: prevent fallback to browser defaults
}

.mat-list-option:hover,
.mat-list-option:focus,
.mat-nav-list .mat-list-item:hover,
.mat-nav-list .mat-list-item:focus,
.mat-action-list .mat-list-item:hover,
.mat-action-list .mat-list-item:focus {
    background: mat.get-color-from-palette($hs-primary, 50);
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: mat.get-color-from-palette($hs-primary, 50);

    .mat-ripple-element {
        background-color: rgba(mat.get-color-from-palette($hs-primary), 0.12);
    }
}

.mat-list-item.active {
    background-color: mat.get-color-from-palette($hs-primary, 50);
}
