.mat-snack-bar-container {
    border-radius: $border-radius !important;
    min-width: 192px !important;
}

.mat-snack-bar-container.success .mat-simple-snackbar,
.mat-snack-bar-container.warning .mat-simple-snackbar,
.mat-snack-bar-container.error .mat-simple-snackbar,
.mat-snack-bar-container.info .mat-simple-snackbar {
    margin-left: spacer(m);

    &::before {
        font-family: 'FontAwesome';
        display: inline-block;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        left: spacer(s);
        width: 1.1em;
        text-align: center;
    }
}

.mat-snack-bar-container.success {
    background-color: white;
    border: $success 1px solid;
    color: $body-color;

    .mat-simple-snackbar::before {
        content: '\f00c'; // fa-check
        color: $success;
    }
}

.mat-snack-bar-container.warning {
    background-color: white;
    border: $warning 1px solid;
    color: $body-color;

    .mat-simple-snackbar::before {
        content: '\f12a'; // fa-exclamation
        color: $warning;
    }
}

.mat-snack-bar-container.error {
    background-color: white;
    border: $danger 1px solid;
    color: $body-color;

    .mat-simple-snackbar::before {
        content: '\f00d'; // fa-times
        color: $danger;
    }
}

.mat-snack-bar-container.info {
    background-color: white;
    border: $info 1px solid;
    color: $body-color;

    .mat-simple-snackbar::before {
        content: '\f129'; // fa-info
        color: $info;
    }
}
