// dynamic sub-element
.hs-justify-subcontent-center > .mat-tab-links {
    justify-content: center;
}

// TODO find out the appropriate classes
.mat-tab-link {
    @include hs-control-text;
    opacity: 1 !important; // no transparency on inactive links
    height: 42px !important; // make a little smaller then 48px

    &.mat-tab-label-active,
    &.cdk-keyboard-focused {
        background-color: rgba(0, 0, 0, 0.12) !important;
        border-radius: 4px; // align with button
    }
}

.mat-tab-disabled {
    @include hs-control-disabled;
}
