@use '~@angular/material' as mat;

@import '~@angular/material/theming';

// Define a custom typography config that overrides the font-family as well as the `headline`, `body-1`,... levels.
$hs-typography-config: mat.define-typography-config(
    $font-family: "system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif",
    $headline: mat.define-typography-level($h1-font-size, $headings-line-height, $font-weight-bold),
    $title: mat.define-typography-level($h2-font-size, $headings-line-height, $font-weight-bold),
    $subheading-2: mat.define-typography-level($h3-font-size, $headings-line-height, $font-weight-bold),
    $subheading-1: mat.define-typography-level($h4-font-size, $headings-line-height, $font-weight-bold),
    $body-2: mat.define-typography-level($font-size-base, $line-height-base, $font-weight-bold),
    $body-1: mat.define-typography-level($font-size-base, $line-height-base, $font-weight-normal),
    $caption: mat.define-typography-level($font-size-sm, $line-height-base, $font-weight-normal),
    $button: mat.define-typography-level($font-size-sm, $line-height-sm, $font-weight-bold),
    $input: mat.define-typography-level($font-size-base, $line-height-base, $font-weight-normal),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$hs-primary: mat.define-palette(mat.$light-blue-palette);
$hs-accent: mat.define-palette(mat.$amber-palette);

// The warn palette is optional (defaults to red).
$hs-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$hs-light-theme: mat.define-light-theme(
    (
        color: (
            primary: $hs-primary,
            accent: $hs-accent,
            warn: $hs-warn,
        ),
    )
);
