// shared: functions

// Get spacing value by name
@function spacer($key) {
    @return map-get($spacers, $key);
}

// Get breakpoint value by name
@function grid-breakpoint($key) {
    @return map-get($grid-breakpoints, $key);
}

// Get breakpoint value by name
@function font-size($key) {
    @return map-get($hs-font-sizes, $key);
}
