// shared: variables

$spacers: (
    0: 0,
    1: 8px,
    2: 16px,
    3: 24px,
    4: 32px,
    5: 40px,
    8: 64px,
);

$container-max-width: 1280px;

$hs-font-sizes: (
    xlarge: 1.25rem,
    large: 1.125rem,
    normal: 1rem,
    small: 0.875rem,
    xsmall: 0.75rem,
);

$hs-font-weights: (
    // thin: 100,
    // extralight: 200,
    // light: 300,
    normal: 400,
    // medium: 500,
    // semibold: 600,
    bold: 700,
    // extrabold: 800,
    // black: 900
);
