@import 'shared';

.text-primary-test {
    color: $primary;
}

.docs-grid-colored-row {
    background-color: #ffccac;
}

.docs-grid-colored-col {
    line-height: 2.5;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff)), -webkit-gradient(linear, left top, left bottom, from(#f86200), to(#f86200));
    background-image: linear-gradient(180deg, #fff 0, #fff), linear-gradient(180deg, #f86200 0, #f86200);
    background-clip: content-box, padding-box;
    outline: 2px dotted #333;
}
