<div class="container mb-xl">
    <!-- <h1 class="page-display">Heading h1 special</h1> -->
    <h1>Heading h1 normal</h1>
    <h2>Heading h2 normal</h2>
    <h3>Heading h3 normal</h3>
    <h4>Heading h4 normal</h4>
    <h5><s>Heading h5</s></h5>
    <h6><s>Heading h6</s></h6>

    <p>
        Paragraph text with proper
        <span class="text-primary-test">primary color</span>
        styling from a theme mixin and with some important text included. This text is also very long and will be wrapped.
    </p>

    <mat-divider></mat-divider>

    <p><s>This line of text is meant to be treated as no longer accurate.</s></p>
    <p><u>This line of text will render as underlined</u></p>
    <p><small>This line of text is meant to be treated as fine print.</small></p>
    <p><strong>This line rendered as bold text.</strong></p>
    <p><em>This line rendered as italicized text.</em></p>

    <mat-divider></mat-divider>

    <p class="text-uppercase">This line rendered as uppercase text.</p>
    <p class="text-lowercase">This line rendered as lowercase text.</p>
    <p class="text-capitalize">This line rendered as capitalize text.</p>

    <!-- <h2>Breadcrumb</h2>

    <nav aria-label="Breadcrumb" class="my-s">
        <ol nxBreadcrumb>
            <li>
                <a nxBreadcrumbItem routerLink="/dev">First</a>
            </li>
            <li>
                <a nxBreadcrumbItem routerLink="/dev">Second</a>
            </li>
            <li>
                <a nxBreadcrumbItem disabled>Third</a>
            </li>
        </ol>
    </nav>

    <nav aria-label="Breadcrumb" class="my-s">
        <ol nxBreadcrumb>
            <li>
                <a nxBreadcrumbItem routerLink="/dev">Vertragssuche</a>
            </li>
            <li>
                <a nxBreadcrumbItem routerLink="/dev">Kollektivvertrag PB654651351</a>
            </li>
            <li>
                <a nxBreadcrumbItem disabled>Untervertrag PB65168531351</a>
            </li>
        </ol>
    </nav>

    <nav aria-label="Breadcrumb" class="my-s">
        <ol nxBreadcrumb>
            <li>
                <a nxBreadcrumbItem routerLink="/dev">Vertragssuche</a>
            </li>
            <li>
                <a nxBreadcrumbItem disabled>Kollektivvertrag PB654651351</a>
            </li>
        </ol>
    </nav>

    <nav aria-label="Breadcrumb" class="my-s">
        <ol nxBreadcrumb>
            <li>
                <a nxBreadcrumbItem routerLink="/dev">Vertragssuche</a>
            </li>
            <li>
                <a nxBreadcrumbItem disabled>Einzelvertrag PB654651351</a>
            </li>
        </ol>
    </nav> -->

    <!-- <h2>Field</h2>

    <syn-field-group nxChildCol="12,12,4,3,2">
        <h3 >Regular fields</h3>
        <ng-template synFieldTemplate label="Name" e2e="nameField">Schmidt</ng-template>
        <ng-template synFieldTemplate label="Vorname">Michael</ng-template>
        <ng-template synFieldTemplate label="Adresse">
            Eine Straße 5
            <br />
            34583 Sehr große Stadt
        </ng-template>
        <ng-template synFieldTemplate label="Very extremely long label and value">
            This is a very, very and extremely long field value
        </ng-template>
        <ng-template synFieldTemplate label="Looooooooooooooooooooonnnnnnnnnnnngggggggggg">
            Loooooooooooooooooooooooooooooonnnnnnnnnnnnnnnnnggggggggggg
        </ng-template>
    </syn-field-group>

    <syn-description-group nxChildCol="12,12,12,6">
        <h3 >Frequently Asked Questions (FAQ)</h3>
        <ng-template synFieldTemplate label="How do I register?" e2e="nameField">You need to click on the register button.</ng-template>
        <ng-template synFieldTemplate label="How great is this application?">It is absolutely breathtaking.</ng-template>
    </syn-description-group> -->

    <h2>Button</h2>

    <div class="gap-x-2xs">
        <button mat-raised-button color="primary">Primary</button>
        <button mat-raised-button color="accent">Accent</button>
        <button mat-raised-button color="warn">Warn</button>
        <button mat-button>Secondary</button>
        <button mat-icon-button aria-label="Example icon button">
            <mat-icon>lock</mat-icon>
        </button>
        <a mat-button href="https://www.google.com/" target="_blank">Link</a>
    </div>

    <br />

    <div class="gap-x-2xs">
        <button mat-raised-button color="primary" disabled>Primary</button>
        <button mat-raised-button color="accent" disabled>Accent</button>
        <button mat-raised-button color="warn" disabled>Warn</button>
        <button mat-button disabled>Secondary</button>
        <button mat-icon-button aria-label="Example icon button" disabled>
            <mat-icon>lock</mat-icon>
        </button>
        <a mat-button href="https://www.google.com/" target="_blank" disabled>Link</a>
    </div>

    <h2>Toast</h2>

    <div class="gap-x-2xs">
        <button mat-raised-button color="primary" (click)="showSuccessToast()">Show Success</button>
        <button mat-button (click)="showInfoToast()">Show Info</button>
        <button mat-button (click)="showErrorToast()">Show Error</button>
        <button mat-button (click)="showWarningToast()">Show Warning</button>
    </div>

    <h2>Dialog</h2>

    <button mat-raised-button color="primary" (click)="openExampleDialog()">Open Dialog</button>

    <h2>Spinner</h2>

    <div class="d-flex flex-row gap-x-2xs align-items-end">
        <mat-spinner diameter="16"></mat-spinner>
        <mat-spinner diameter="24"></mat-spinner>
        <mat-spinner diameter="32"></mat-spinner>
        <mat-spinner diameter="40"></mat-spinner>
    </div>

    <br />

    <div class="d-flex flex-row gap-x-2xs align-items-end">
        <mat-progress-spinner diameter="16" color="warn" [value]="progress$ | async"></mat-progress-spinner>
        <mat-progress-spinner diameter="24" color="warn" [value]="progress$ | async"></mat-progress-spinner>
        <mat-progress-spinner diameter="32" color="warn" [value]="progress$ | async"></mat-progress-spinner>
        <mat-progress-spinner diameter="40" color="warn" [value]="progress$ | async"></mat-progress-spinner>
    </div>

    <!-- <h3>Button with Spinner</h3>

    <div class="gap-x-2xs">
        <button mat-raised-button color="primary" [spinning]="disabled$ | async" [disabled]="disabled$ | async">Primary</button>
        <button mat-button color="primary" [spinning]="disabled$ | async" [disabled]="disabled$ | async">Secondary</button>
    </div> -->

    <!-- <h3>Button with Progress Indicator</h3>

    <div class="gap-x-2xs">
        <button mat-raised-button color="primary" mode="determinate" [value]="progress$ | async" [spinning]="true" disabled>Primary</button>
        <button mat-button color="primary" mode="determinate" [value]="progress$ | async" [spinning]="true" disabled>Secondary</button>
    </div> -->

    <h2>Icons</h2>

    <div class="gap-x-2xs">
        <mat-icon fontIcon="fa-print"></mat-icon>
        <mat-icon fontIcon="fa-envelope-o"></mat-icon>
        <mat-icon fontIcon="fa-phone"></mat-icon>
        <mat-icon fontIcon="fa-code"></mat-icon>
        <mat-icon fontIcon="fa-close"></mat-icon>
    </div>

    <div class="gap-x-2xs">
        <mat-icon fontIcon="fa-cog" inline class="fa-spin"></mat-icon>
        <mat-icon fontIcon="fa-spinner" inline class="fa-pulse"></mat-icon>
        <mat-icon fontIcon="fa-circle-o-notch" inline class="fa-pulse"></mat-icon>
        <mat-icon fontIcon="fa-refresh" inline class="fa-pulse"></mat-icon>
    </div>

    <p>
        There we go with a beautiful inline
        <mat-icon fontIcon="fa-print" inline></mat-icon>
        icon.
    </p>

    <h2>Text</h2>

    <p class="font-size-xlarge">Extra large text (xlarge) for unknown usage.</p>

    <p class="font-size-large">Large text (large) for unknown usage.</p>

    <p class="font-size-normal">Regular text (normal) with some very important information included.</p>

    <p>Default paragraph text (normal) with some very important information included.</p>

    <p class="font-size-small">Footnote text (small).</p>

    <p class="font-size-xsmall">Legal text (xsmall).</p>

    <h2>Utilities</h2>

    <h3>Text Alignment</h3>

    <p class="text-justify">
        Justified (left and right aligned) text with some very important information included. This text is also very long and will be wrapped. This text is also very long and will be wrapped. This text is also very long and will be wrapped
        immediately. This text is also very long and will be wrapped very immediately. This text is also very long and will be wrapped now.
    </p>
    <p class="text-start">Left (start) aligned text on all viewport sizes.</p>
    <p class="text-center">Center aligned text on all viewport sizes.</p>
    <p class="text-end">Right (end) aligned text on all viewport sizes.</p>

    <h3>Text Wrap</h3>

    <div class="text-wrap" style="width: 6rem; background-color: aquamarine">This text should wrap.</div>

    <div class="text-nowrap" style="width: 8rem; background-color: burlywood">This text should overflow the parent.</div>

    <div class="text-truncate" style="max-width: 11rem; background-color: darkkhaki">Truncate block: Praeterea iter est quasdam res quas ex communi.</div>

    <span class="text-truncate" style="max-width: 11rem; display: inline-block; background-color: wheat">Truncate inline: Praeterea iter est quasdam res quas ex communi.</span>

    <p class="text-break">Break word: mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm</p>

    <h3>Text Colors</h3>

    <p class="text-primary">.text-primary</p>
    <p class="text-body">.text-body (primary body color)</p>
    <p class="text-white" style="background-color: gray">.text-white (inverse body color)</p>
    <p class="text-muted">.text-muted</p>
    <p class="text-reset">.text-reset (inherited color)</p>

    <h3>Screen Readers</h3>

    <p>
        Expose to screen readers only:
        <span class="visually-hidden">visually-hidden</span>
    </p>

    <p>
        Display normally when focused, expose only to screen readers otherwise:
        <button mat-raised-button color="primary" class="visually-hidden-focusable">visually-hidden</button>
    </p>

    <!-- <h2>Link</h2>

    <nx-link>
        <a href="javascript:void(0);">Default Link</a>
    </nx-link>
    <br />
    <nx-link nxStyle="black">
        <a href="javascript:void(0);">Black Link</a>
    </nx-link>
    <br />
    <nx-link>
        <a href="javascript:void(0);" aria-disabled="true" disabled>Disabled Link</a>
    </nx-link>
    <p>
        Some random text with a
        <nx-link nxStyle="text"><a routerLink="/dev">text link</a></nx-link>
        in between.
    </p>
    <nx-link size="large">
        <a href="javascript:void(0);">Large Link</a>
    </nx-link>

    <br />
    <br />

    <nx-link>
        <a routerLink="/dev">
            <nx-icon name="arrow-right"></nx-icon>
            Link with an Icon
        </a>
    </nx-link>
    <br />
    <nx-link nxStyle="icon-right">
        <a routerLink="/dev">
            <nx-icon name="arrow-right"></nx-icon>
            Link with an Icon
        </a>
    </nx-link> -->

    <!-- <h2>Badge</h2>

    <p>
        <nx-badge>default</nx-badge>
        <nx-badge type="active">active</nx-badge>
        <nx-badge type="positive">positive</nx-badge>
        <nx-badge type="critical">critical</nx-badge>
        <nx-badge type="negative">negative</nx-badge>
    </p>
    <p>
        <nx-badge vibrant>default vibrant</nx-badge>
        <nx-badge vibrant type="active">active vibrant</nx-badge>
        <nx-badge vibrant type="positive">positive vibrant</nx-badge>
        <nx-badge vibrant type="critical">critical vibrant</nx-badge>
        <nx-badge vibrant type="negative">negative vibrant</nx-badge>
    </p> -->

    <!-- <h2>List</h2>

    <ul nxList>
        <li>Apples</li>
        <li>Oranges</li>
        <li>Bananas</li>
    </ul>

    <ol nxList nxList="ordered-circles">
        <li>Apples</li>
        <li>Oranges</li>
        <li>Bananas</li>
    </ol>

    <ul nxList>
        <li nxListIcon="check">Apples with Icon</li>
        <li nxListIcon="close">Oranges with Icon</li>
        <li nxListIcon="exclamation-triangle">Bananas with Icon</li>
        <li>Normal</li>
    </ul>

    <ul nxList="small">
        <li>Small Apples</li>
        <li>Small Oranges</li>
        <li>Small Bananas</li>
    </ul>

    <ol nxList="big">
        <li>
            I am authorised to submit this claim as:
            <ul nxList="small">
                <li>the insured person,</li>
                <li>a broker who has been appointed as the agent of the insured person,</li>
                <li>a fleet manager or custodian of a fleet vehicle,</li>
                <li>an authorised representative of the insured person or an insured company, or</li>
                <li>a nominated driver on a policy;</li>
            </ul>
        </li>
        <li>I am authorised to provide this information to you for the purpose of making this claim; and</li>
        <li>
            the information given in this form is truthful, accurate and complete, and no information likely to affect this claim has been
            withheld. I understand that this claim may be refused if information is untrue, inaccurate or concealed.
        </li>
    </ol> -->

    <!-- <h2>Notification</h2>

    <h3 >Banner</h3>

    <nx-message-banner context="error" closeButtonLabel="Schließen">Error banner</nx-message-banner>

    <nx-message-banner context="warning" closeButtonLabel="Schließen">Warning banner</nx-message-banner>

    <nx-message-banner context="info" closeButtonLabel="Schließen">Info banner</nx-message-banner>

    <h3 >Toast</h3>

    <button mat-raised-button color="primary" (click)="openToast('info')">Open Info Toast</button>
    <button mat-raised-button color="accent" class="ms-s" (click)="openToast('success')">Open Success Toast</button> -->

    <h2>Grid</h2>

    <div class="row docs-grid-colored-row">
        <div class="col-md-8 docs-grid-colored-col">.col-md-8</div>
        <div class="col-6 col-md-4 docs-grid-colored-col">.col-6 .col-md-4</div>
    </div>

    <br />

    <div class="row docs-grid-colored-row">
        <div class="col-6 col-md-4 docs-grid-colored-col">.col-6 .col-md-4</div>
        <div class="col-6 col-md-4 docs-grid-colored-col">.col-6 .col-md-4</div>
        <div class="col-6 col-md-4 docs-grid-colored-col">.col-6 .col-md-4</div>
    </div>

    <br />

    <div class="row docs-grid-colored-row">
        <div class="col-6 docs-grid-colored-col">.col-6</div>
        <div class="col-6 docs-grid-colored-col">.col-6</div>
    </div>
</div>
