h1 {
    margin-top: $spacer * 2.5;
    margin-bottom: $spacer * 1.5;
}

h2 {
    margin-top: $spacer * 2;
    margin-bottom: $spacer * 1.5;
}

h3 {
    margin-top: $spacer * 1.75;
    margin-bottom: $spacer * 1.25;
}

h4,
h5,
h6 {
    margin-top: $spacer * 1.5;
    margin-bottom: $spacer * 1.125;
}
