<div class="hs-spell">
    <img [src]="templateUrl" alt="Template Image" class="hs-template-image" />

    <img [src]="spell.images.base64img256x" alt="Image" class="hs-entity-image" />

    <div class="hs-cost-value">{{ spell.entity.cost }}</div>

    <div class="hs-name-value">{{ spell.entity.name }}</div>

    <div *ngIf="rarityCrystalStyleUrl" class="hs-rarity-crystal" [style.background-image]="rarityCrystalStyleUrl"></div>

    <div class="hs-text-wrapper">
        <div class="hs-text-value" [innerHTML]="spell.entity.text | safeHtml"></div>
    </div>
</div>
