@import 'shared';

.hs-spell {
    @include hs-entity-dynamic-background;
    width: 286px;
    height: 386px;

    > :not(.hs-template-image) {
        position: absolute;
    }

    .hs-entity-image {
        top: 12px;
        left: 14px;
        transform: scale(0.82);
        object-fit: cover;
        width: 256px;
        height: 216px;
        z-index: -1;
    }

    .hs-cost-value {
        @include hs-entity-value-text($hs-card-value-font-size);
        top: calc(30px - (#{$hs-card-value-font-size} * 0.35));
        left: 3px;
        width: 76px;
    }

    .hs-name-value {
        @include hs-entity-value-text($hs-card-name-font-size);
        top: calc(192px - (#{$hs-card-name-font-size} * 0.35));
        left: 30px;
        width: 226px;
    }

    .hs-rarity-crystal {
        @include hs-entity-dynamic-background;
        top: 218.4px;
        left: 117px;
        width: 46px;
        height: 37px;
    }

    .hs-text-wrapper {
        top: calc(252px - (#{$hs-card-text-font-size} * 0.35));
        left: 56px;
        width: 174px;
        height: 110px;

        .hs-text-value {
            @include hs-entity-ability-text($hs-card-text-font-size);
            position: initial;
            display: table-cell;
            vertical-align: middle;
            width: 186px;
            height: 110px;
        }
    }
}
