<div fxLayout="row" fxLayoutAlign="space-between" style="margin: 0 auto; padding: 0 1rem">
    <div>
        <mat-button-toggle-group #group="matButtonToggleGroup" [value]="selectionFilter$ | ngrxPush" (change)="filterCards($event.value)" style="text-align: center">
            <mat-button-toggle *ngFor="let filter of selectionFilters" [value]="filter">{{ filter | titlecase }}</mat-button-toggle>
        </mat-button-toggle-group>

        <div style="display: inline-block; width: 50px"></div>

        <!-- <button mat-button (click)="deck.save()" [disabled]="deck.saved$ | ngrxPush">Save</button> -->
        <button mat-button (click)="removeAllCards()" [disabled]="(hasDeckCards$ | ngrxPush) === false">Clear</button>

        <div fxLayout="row wrap" fxLayoutAlign="start">
            <button *ngFor="let card of selectionCards$ | ngrxPush; trackBy: trackByEntityId" hs-entity-button contentType="card" (click)="addCard(card.entity)" [ngSwitch]="card.entity.type">
                <hs-minion *ngSwitchCase="'MINION'" [minion]="card"></hs-minion>
                <hs-spell *ngSwitchCase="'SPELL'" [spell]="card"></hs-spell>
            </button>
        </div>
    </div>

    <div fxLayout="column" fxLayoutAlign="start" style="margin-top: 12px">
        <div *ngFor="let cardCount of deckCardCounts$ | ngrxPush; trackBy: trackByCardId">
            <button hs-entity-button contentType="tile" (click)="removeCard(cardCount.card.entity.id)">
                <hs-card [card]="cardCount.card" [count]="cardCount.count"></hs-card>
            </button>
        </div>
    </div>
</div>
