// Note: parts of this components' source code (including template and styles) originate from @angular/material.

@import 'shared';

.hs-entity-button {
    @include hs-entity-highlighting;

    box-sizing: border-box;
    position: initial;

    background: none;
    border: none;
    padding: initial;
    user-select: none;
    outline: none;

    -webkit-tap-highlight-color: transparent;

    cursor: pointer;

    &[disabled] {
        cursor: default;
    }

    // Explicitly set the default overflow to `visible`. It is already set
    // on most browsers except on IE11 where it defaults to `hidden`.
    overflow: visible;

    &::-moz-focus-inner {
        border: 0;
    }
}

.hs-card-button-ripple.mat-ripple {
    top: 7%;
    left: 8%;
    right: 8%;
    bottom: 3%;
    position: absolute;
    border-radius: 16px;
}

.hs-tile-button-ripple.mat-ripple {
    top: 0;
    left: 3%;
    right: 1%;
    bottom: 0;
    position: absolute;
    border-radius: 8px;
}

// Elements inside of buttons should be vertical aligned in the middle.
.hs-entity-button .mat-button-wrapper > * {
    vertical-align: middle;
}
