<span class="mat-button-wrapper">
    <ng-content></ng-content>
</span>
<div matRipple class="mat-button-ripple" [ngClass]="rippleClass" [matRippleDisabled]="_isRippleDisabled()"
    [matRippleTrigger]="_getHostElement()">
</div>
