// shared: container mixins

@mixin container-padding {
    padding-left: spacer(s);
    padding-right: spacer(s);

    @media (min-width: grid-breakpoint(sm)) {
        padding-left: spacer(m);
        padding-right: spacer(m);
    }

    @media (min-width: grid-breakpoint(lg)) {
        padding-left: spacer(2m);
        padding-right: spacer(2m);
    }
}
