// shared: menu mixins

@mixin hs-control-text {
    @include _hs-control-text-base;
    font-family: 'Corben', cursive;
    letter-spacing: 1px;
}

@mixin _hs-control-text-base {
    color: white;
    -webkit-font-smoothing: antialiased;
    text-shadow: #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px;
}

@mixin hs-control-disabled {
    opacity: 0.4 !important;
}
