<mat-toolbar style="background-color: transparent">
    <button mat-icon-button (click)="sidebarOpened = !sidebarOpened" aria-label="Navigation Menu" style="margin-right: 0.5rem">
        <mat-icon>menu</mat-icon>
    </button>
    <div>HS Classic Deck builder</div>
    <div>
        <ng-container *ngTemplateOutlet="mainNavLinks"></ng-container>
    </div>
</mat-toolbar>

<mat-sidenav-container style="background-color: transparent; background-image: url('assets/img/background/holz.jpg')">
    <mat-sidenav #sidenav mode="side" [(opened)]="sidebarOpened">
        <div>
            <ng-container *ngTemplateOutlet="sidebarNavLinks"></ng-container>
        </div>
    </mat-sidenav>

    <mat-sidenav-content fxLayout="column" fxLayoutALign="start" style="min-height: 100vh">
        <div>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #mainNavLinks>
    <a mat-button routerLink="/welcome" routerLinkActive #m0="routerLinkActive" [class.active]="m0.isActive">Welcome</a>
    <a mat-button routerLink="/deck-builder" routerLinkActive #m1="routerLinkActive" [class.active]="m1.isActive">Deck Builder</a>
    <a mat-button routerLink="/collection" routerLinkActive #m2="routerLinkActive" [class.active]="m2.isActive">Collection</a>
</ng-template>

<ng-template #sidebarNavLinks>
    <mat-list>
        <a mat-list-item routerLink="/welcome" routerLinkActive #s0="routerLinkActive" [class.active]="s0.isActive">Welcome</a>
        <a mat-list-item routerLink="/deck-builder" routerLinkActive #s1="routerLinkActive" [class.active]="s1.isActive">Deck Builder</a>
        <a mat-list-item routerLink="/collection" routerLinkActive #s2="routerLinkActive" [class.active]="s2.isActive">Collection</a>
    </mat-list>
</ng-template>
