<div fxLayout="column" fxLayoutAlign="start" style="margin: 0 auto; padding: 0 1rem">
    <mat-button-toggle-group #group="matButtonToggleGroup" [value]="filter$ | ngrxPush" (change)="filterCards($event.value)" style="text-align: initial">
        <mat-button-toggle *ngFor="let filter of collectionFilters" [value]="filter">{{ filter | titlecase }}</mat-button-toggle>
    </mat-button-toggle-group>

    <div fxLayout="row wrap" fxLayoutAlign="center">
        <hs-entity-button *ngFor="let card of cards$ | ngrxPush; trackBy: trackByIndex" contentType="card" [ngSwitch]="card.entity.type">
            <hs-minion *ngSwitchCase="'MINION'" [minion]="card"></hs-minion>
            <hs-spell *ngSwitchCase="'SPELL'" [spell]="card"></hs-spell>
        </hs-entity-button>
    </div>
</div>
